// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// Load custom modules
@use '../abstracts' as a;
@use '../themes' as t;

.button {
  @include a.text-setting(900);
  color: a.theme-color('accent2');
  display: flex;
  align-items: center;
  padding: 0.5rem;

  &:focus-visible {
    outline: 0.0625rem solid a.theme-color('accent1');
  }
  &:hover:not(:disabled) {
    color: a.theme-color('background');
    background-color: a.theme-color('primary');
  }
  &:focus {
    outline: 0.0625rem solid a.theme-color('accent1');
  }
  &:active:not(:disabled) {
    color: a.theme-color('background');
    background-color: a.theme-color('accent1');
    outline: none;
  }
}
