// -----------------------------------------------------------------------------
// This file contains all styles related to the opponent component.
// -----------------------------------------------------------------------------

/// Load custom modules
@use '../abstracts' as a;

.pick {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .opponent {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-inline: 2rem;
  }

  > * > * > .button {
    @include a.text-setting(800);
  }
}
