// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

/// Load Sass built-in modules
@use 'sass:color';

/// Theme colors
/// Primary color
/// @type Color
$color-primary: hsl(325, 56%, 70.6%);

/// Accent color
/// @type Color
$color-accent1: hsl(55, 56%, 70.6%);

/// Accent color
/// @type Color
$color-accent2: hsl(145, 56%, 70.6%);

/// Main text color
/// @type Color
$color-text-light: hsl(0, 0%, 91%);

/// Accent text color
/// @type Color
$color-text-dark: hsl(235, 56%, 70.6%);

/// Foreground color
/// @type Color
$color-foreground: hsl(0, 0%, 91%);

/// Background color
/// @type Color
$color-background: hsl(0, 0%, 15%);

/// Error color
/// @type Color
$color-error: hsl(355, 56%, 70.6%);

/// Success color
/// @type Color
$color-success: hsl(115, 56%, 70.6%);

// -----------------------------------------------------------------------------

/// Colors' table
/// @type table
$theme-colors: (
  'primary': (
    'light': lighten($color-primary, 5),
    'base': $color-primary,
    'dark': darken($color-primary, 5),
    'disabled': color.adjust($color-primary, $alpha: -0.65),
  ),
  'accent1': (
    'light': lighten($color-accent1, 5),
    'base': $color-accent1,
    'dark': darken($color-accent1, 5),
    'disabled': color.adjust($color-accent1, $alpha: -0.5),
  ),
  'accent2': (
    'light': lighten($color-accent2, 5),
    'base': $color-accent2,
    'dark': darken($color-accent2, 5),
    'disabled': color.adjust($color-accent2, $alpha: -0.5),
  ),
  'light': (
    'light': lighten($color-text-light, 5),
    'base': $color-text-light,
    'dark': darken($color-text-light, 5),
    'disabled': color.adjust($color-text-light, $alpha: -0.5),
  ),
  'dark': (
    'light': lighten($color-text-dark, 5),
    'base': $color-text-dark,
    'dark': darken($color-text-dark, 20),
    'disabled': color.adjust($color-text-dark, $alpha: -0.5),
  ),
  'foreground': (
    'light': lighten($color-foreground, 5),
    'base': $color-foreground,
    'dark': darken($color-foreground, 5),
    'disabled': color.adjust($color-foreground, $alpha: -0.5),
  ),
  'background': (
    'light': lighten($color-background, 5),
    'base': $color-background,
    'dark': darken($color-background, 5),
    'disabled': color.adjust($color-background, $alpha: -0.5),
  ),
  'error': (
    'light': lighten($color-error, 5),
    'base': $color-error,
    'dark': darken($color-error, 5),
    'disabled': color.adjust($color-error, $alpha: -0.5),
  ),
  'success': (
    'light': lighten($color-success, 5),
    'base': $color-success,
    'dark': darken($color-success, 5),
    'disabled': color.adjust($color-success, $alpha: -0.5),
  ),
);

// -----------------------------------------------------------------------------

/// Shadow
/// @type Function
$box-shadow: 0.125rem 0.125rem 0.375rem color.adjust($color-background, $lightness: -15%, $alpha: -0.65);
